MSSQL_SA_PASSWORD=
MOTHERSON_DB_NAME=MothersonBoxDb
MOTHERSON_APP_PORT=8080
MOTHERSON_SQL_PORT=11433
MOTHERSON_WORKSTATION=DOCKER-STATION-01

# Production compose sample values. Use a least-privilege SQL login, not sa.
MOTHERSON_ALLOWED_HOSTS=localhost
MOTHERSON_DB_HOST=sqlserver.example.internal
MOTHERSON_DB_PORT=1433
MOTHERSON_DB_APP_USER=motherson_app
MOTHERSON_DB_APP_PASSWORD=ReplaceWithStrongAppDbPassword
MOTHERSON_DB_TRUST_CERTIFICATE=False
MOTHERSON_HTTPS_PORT=443
MOTHERSON_TLS_CERT_PATH=C:/ProgramData/Motherson/certs/motherson-box.pfx
MOTHERSON_TLS_CERT_PASSWORD=ReplaceWithCertificatePassword
MOTHERSON_DP_CERT_PATH=C:/ProgramData/Motherson/certs/data-protection.pfx
MOTHERSON_DP_CERT_PASSWORD=
DEMO_OP001_PASSWORD=
DEMO_SP001_PASSWORD=
DEMO_AD001_PASSWORD=
